<h2>Update the drone</h2>
<div class="form-container">
    <form action="/drones/{{oneDrone._id}}/edit" method="post">
        <label for="">Name</label>
        <input type="text" name="name" value="{{this.oneDrone.name}}">

        <br>

        <label for="">Propellers</label>
        <input type="text" name="propellers" value="{{this.oneDrone.propellers}}">
        
        <br>

        <label for="">MaxSpeed</label>
        <input type="text" name="maxSpeed" value="{{this.oneDrone.maxSpeed}}">

        <br>

        <button>Editar</button>
    </form>
</div>